.header {
	height: 60px;
	background: #000000b9;

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;
		height: 60px;
	}

	&__link {
		font-size: 18px;
		color: white;
		letter-spacing: 2px;
		position: relative;
		&:after {
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 0;
		height: 2px;
		transition: width 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background-color: #fff;
		}
		&:hover::after{
		opacity: 1;
		width: 100%;
		}
	}
}
.footer {
	padding: 20px 5px;
	background: #000000b9;

	&__content {
		padding: 10px 5px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 30px;
		@media (max-width: 527px){
			height: max-content;
			row-gap: 10px;
			padding: 0;
			margin-bottom: 20px;
			justify-content: center;
		}
	}

	&__link {
		color: white;
		&:hover{
			text-decoration: underline;
		}
	}

	&__copy {
		text-align: center;
		margin-top: 10px;
		color: white;
	}
}

@media (min-width: 1024px){
	::-webkit-scrollbar {
		width: 8px;
	}
	
	::-webkit-scrollbar-track {
		background-color: #242121;
		border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb {
		background-color: #606060;
		border-radius: 10px;
	}
	
	::-webkit-scrollbar-thumb:hover {
		background-color: #404040;
	}
	
	::-webkit-scrollbar-corner {
		background-color: #F4F4F4;
	}
}

.page {
	&__title {
		padding-top: 50px;
		text-align: center;
		color: white;
		font-size: 34px;
		letter-spacing: 2px;
		@media (max-width: 610px){
			font-size: 30px;
			padding-top: 20px;
		}
	}
	&__loader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__scanner {
		span {
			color: transparent;
			font-size: 2.4rem;
			position: relative;
			overflow: hidden;
			&::before {
				content: "Loading...";
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				border-right: 4px solid #17FEFF;
				overflow: hidden;
				color: #17FEFF;
				animation: load91371 2s linear infinite;
			}
		}
	}
}
@keyframes load91371 {
	0%, 10%, 100% {
	  width: 0;
	}
 
	10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
	  border-right-color: transparent;
	}
 
	11%,21%,31%,41%,51%,61%,71%,81%,91% {
	  border-right-color: #17FEFF;
	}
 
	60%, 80% {
	  width: 100%;
	}
 }

.game {
	&__board {
		display: block;
		max-width: max-content;
		margin: 0 auto;
		margin-top: 30px; 
		margin-bottom: 60px;
		border: 1px solid rgb(236, 231, 231);
	}
	@media (max-width: 1070px) {
		padding-bottom: 20px;
		margin-bottom: 0px;
	}
}
 
 .row {
	display: flex;
	flex-direction: row;
 }
 
 .square {
	width: 64px;
	height: 64px;
	border: 1px solid rgb(228, 220, 220);
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	@media (max-width: 610px){
		width: 40px;
		height: 40px;
	}
	@media (max-width: 380px){
		width: 30px;
		height: 30px;
	}
 }

 .black {
	background: url('/grasses/1.jpg');
 }
 .white {
	background: url('/grasses/2.jpg'); 
}
.unmine {
	background: url('/grasses/ground.jpg'); 
	color: rgba(252, 250, 250, 0.849);
}
.flag{
	background: url('/grasses/mines.jpg') center / cover; 
	font-size: 0;
}

particle {
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	background-repeat: no-repeat;
	background-size: contain;
}

.popup {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -100%);
		padding: 16px;
		border: 1px solid black;
		border-radius: 5px;
		background: rgb(233,225,225, 0.5);
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(2px);
	&__container {
		width: 400px;
		@media (max-width: 450px){
			max-width: 280px;
		}
	}

	&__title {
		height: 40px;
		font-size: 24px;
		color:rgb(14, 13, 13);
		border-bottom: black solid 1px;
	}

	&__content {
		padding: 20px 0;
		color: rgb(17, 17, 17);
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
	}

	&__btn {
		padding: 10px;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
		&:hover{
			background-color: rgba(255, 0, 0, 0.884);
			color: white;
			transform: scale(1.05);
		}
	}
}

.sidebar {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #c3cbdc;
	background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
	gap: 15px;
	height: max-content;
	width: 250px;
	padding: 20px;
	border-radius: 5px;
	@media (max-width: 1070px){
		position: static;
		padding: 10px;
		gap: 10px;
		width: 220px;
		margin: 20px auto;
	}
	&__title{
		font-size: 18px;
		font-weight: 600;
	}
	&__button {
		font-size: 14px;
		padding: 5px 10px;
		border-radius: 3px;
		transition: all 0.2s ease 0s;
		border: 1px dotted black;
		user-select: none;
		@media (min-width: 768px){
			&:hover{
				background-color: red;
				color: white;
				border: 1px solid white;
			}
		}
	}
	&__select{
		font-size: 14px;
		padding: 5px 10px;
		border-radius: 3px;
		user-select: none;
		border: 1px dotted black;
		background: hsla(0, 0%, 100%, 0.4);
		width: max-content;
	}
}